
body{
// background: skyblue;
margin: 0;
}

canvas{
background:#FFFFE0;
display: block;
}

*{
box-sizing: border-box;
-moz-box-sizing: border-box;
font-family: sans-serif;
user-select:none;
-webkit-user-select:none;
}

#toolbar{
width: 100%;
height:50px;
padding:10px;
position:fixed;
top:0;
background: gray;
color: white;
}

.radcontrol{
width:30px;
height:30px;
background: wheat;
display: inline-block;
text-align: center;
// padding: 5px;
font-size: 25px;
}

#rad{
float: right;
}

#colors{
float: right;
}


.swatch{
width: 30px;
height: 30px;
border-radius: 15px;
background: cyan;
box-shadow: inset 0px 1px opx rgba(255,255,255,0.5), 0p 2px 2px rgba(0,0,0,0.5);
display: inline-block;
margin-left: 10px;
}

.swatch.active{
border: 2px solid white;
box-shadow: inset 0px 1px 2px rgba(0,0,0,0.5); 
}

#save{
float: left;
margin-right: 20px;
height: 30px;
padding: 8px;
}

#save:hover{
background: #434343;
}



#new{
float: left;
margin-right: 20px;
height: 30px;
padding: 8px;
}

#new:hover{
background:  #434343;
}

#eraser{
float: right;
margin-right: 20px;
height: 30px;
padding: 8px;
}

#eraser:hover{

background:#434343; 
}
